{{#extend "layout"}}
  {{#content "head"}}
    <link rel="stylesheet" href="//openlayers.org/en/v3.4.0/css/ol.css" type="text/css">
    <script src="//openlayers.org/en/v3.4.0/build/ol.js" type="text/javascript"></script>
  {{/content}}

  {{#content "main"}}

    <div id="map" class="main"></div>

  {{/content}}
{{/extend}}
