<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BamPi" version="0.1" targetFramework="net45" />
  <package id="BamPi.EntityFramework" version="0.1" targetFramework="net45" />
  <package id="Common.Logging" version="2.1.2" targetFramework="net45" />
  <package id="ConfigR" version="0.12.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.2" targetFramework="net45" />
  <package id="Glimpse" version="1.8.6" targetFramework="net45" />
  <package id="Glimpse.AspNet" version="1.9.2" targetFramework="net45" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net45" />
  <package id="Nancy" version="1.1" targetFramework="net45" />
  <package id="Nancy.Hosting.Aspnet" version="1.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="NHibernate" version="4.0.3.4000" targetFramework="net45" />
  <package id="Roslyn.Compilers.Common" version="1.2.20906.2" targetFramework="net45" />
  <package id="Roslyn.Compilers.CSharp" version="1.2.20906.2" targetFramework="net45" />
  <package id="ScriptCs.Contracts" version="0.12.0" targetFramework="net45" />
  <package id="ScriptCs.Core" version="0.12.0" targetFramework="net45" />
  <package id="ScriptCs.Engine.Roslyn" version="0.12.0" targetFramework="net45" />
</packages>